@import "../../../styles/common";

.sec-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  h2 {
    font-family: $chakrapetch;
    font-weight: 600;
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
    @media screen and (max-width: 580px) {
      font-size: 2rem;
    }
  }
  p {
    color: #ffffffcc;
    font-size: 1.2rem;
    max-width: 45rem;
    @media screen and (max-width: 580px) {
      font-size: 1rem;
    }
  }
}

.hero-section,
.register-form-section,
.question-section {
  padding: 5rem 0;
  @media screen and (max-width: 767px) {
    padding: 3rem 0;
  }
}

// Hero-section
.hero-section {
  background: radial-gradient(#1e2828, #121112);
}

.register-form-section {
  background: #1e2728;
}
.question-section {
  background: #101e21;
}

.hero-section,
.question-section {
  .question-group {
    max-width: 70rem;
    width: 100%;
    margin: auto;
    article {
      margin-bottom: 3rem;
      h3 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
        font-family: $chakrapetch;
        color: #ffffff;
      }
      p {
        color: #ffffffcc;
        margin-bottom: 1.6rem;
        font-size: 1.15rem;
        font-weight: 400;
      }
      ol {
        margin-bottom: 1.6rem;
        li {
          color: #ffffffcc;
          margin-bottom: 0.5rem;
          font-size: 1.15rem;
          font-weight: 400;
        }
      }
    }
  }
}

.register-form-section {
  .forms-group {
    max-width: 32rem;
    width: 100%;
    margin: auto;
    .theme-btn {
      background: #ef9f5e;
      border: 0.05rem solid #ef9f5e;
      padding: 0.6rem 1.8rem;
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5rem;
      &:hover,
      &:focus,
      &:active {
        border: 0.05rem solid #ef9f5e;
        background-color: transparent;
        color: #ef9f5e;
      }
    }
  }
}
