@import "../../../styles/common";

.bns-cart-summary-section {
  background-color: #1d1c2b;
  padding: 5rem 0;
  @media screen and (max-width: 580px) {
    padding: 3rem 0;
  }

  .domain-list-section {
    position: relative;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .domain-list-block {
      // width: calc(100% - 25.5rem);
      width: 100%;
      max-width: calc(100% - 25.5rem);
      @media screen and (max-width: 991px) {
        width: 100%;
        max-width: 100%;
      }
      .cart-domain-block {
        .cart-domain-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 2rem;

          .title-box {
            h4 {
              margin-bottom: 0rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            p {
              margin: 0;
              color: #ffffff99;
            }
          }

          .select-box {
            display: flex;
            align-items: center;
            justify-content: center;

            .open-cart-btn {
              margin: 0 0.3rem 0;
              transition: 0.3s;
              position: relative;
              text-transform: capitalize;
              background: transparent;
              border-radius: 0.5rem;
              font-weight: 600;
              padding: 0.4rem 1.3rem;
              font-size: 1rem;
              height: 100%;
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;
              border: solid 1px #ef9e5e !important;
              background: #ef9e5e;
              cursor: pointer;
              color: #1d1c2b;
            }
            .theme-select {
              background: transparent !important;
              border: 0.1rem solid #ef9f5e !important;
              color: #ef9f5e !important;
              padding: 0.1rem 1rem;
              font-size: 1.2rem;
              border-radius: 50rem;
              outline: 0;
            }
          }
        }
        .sub-domain-list {
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
            }
          }
        }
        .search-empty-block {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-height: 20rem;
          height: 100%;
          svg {
            font-size: 2rem;
            opacity: 0.6;
          }
          h5 {
            max-width: 26rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 1rem;
            line-height: 1.5;
            opacity: 0.6;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
    }
    .domain-cart-block {
      position: relative;
      max-width: 24rem;
      width: 100%;
      @media screen and (max-width: 991px) {
        position: fixed;
        transform: translateX(130%);
        background: #1d1c2b;
        transition: 0.5s all ease;
        box-shadow: 0 0 0.6rem #2c2a41;
        padding: 1.5rem;
        max-width: 28rem;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 0.5rem;
        width: calc(100% - 4rem);
        &.open {
          transform: translateX(0%);
          z-index: 1051;
        }
      }
      @media screen and (max-width: 767px) {
        bottom: 4.5rem;
      }
      .domain-cart-box {
        padding: 1.5rem;
        background: #2c2a41;
        border-radius: 0.5rem;
        margin-bottom: 2rem;

        height: 100%;
        max-height: 80vh;
        overflow: auto;

        h3 {
          color: #ffffff;
          font-size: 1.4rem;
          font-weight: 400;
          margin-bottom: 2rem;
        }
        .cart-total-block {
          position: relative;
          margin-bottom: 3rem;
          .cart-total-body,
          .cart-total-footer {
            .cart-total-list {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0.3rem 0;
              .key,
              .value {
                color: #ffffffcc;
                font-size: 1.2rem;
                font-weight: 400;
              }
            }
          }

          .cart-total-footer {
            padding: 0.5rem 0;
            border-top: 0.05rem solid #3d4c50;
            margin-top: 1rem;
            border-bottom: 0.05rem solid #3d4c50;
            .cart-total-list {
              .key,
              .value {
                color: #ffffff;
              }
              .value {
                font-weight: 600;
              }
            }
          }
        }

        .domain-cart-btn-box {
          position: sticky;
          top: calc(100% - 17rem);
          // top: 100%;

          .cart-btn {
            background: #ef9f5e;
            border: 0.05rem solid #ef9f5e;
            padding: 0.6rem 1.6rem;
            font-size: 1.1rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;
            &:hover,
            &:focus,
            &:active {
              border: 0.05rem solid #ef9f5e;
              background-color: transparent;
              color: #ef9f5e;
            }
          }

          ul.checklist {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              margin-bottom: 0.8rem;
              padding-bottom: 0.8rem;

              .info-box {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                .img-box {
                  width: 2.5rem;
                  margin-right: 0.5rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  svg {
                    font-size: 1.5rem;
                    color: #afafaf;
                  }

                  // Checkbox

                  .checkbox {
                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                    cursor: pointer;
                    width: 20rem;
                  }
                  .checkbox input {
                    display: none;
                  }
                  .checkbox input ~ .checkbox__mark {
                    position: relative;
                    display: block;
                    background: #ef9d5e !important;
                    z-index: 0;
                    &::before {
                      content: "";
                      position: absolute;
                      top: 0.1rem;
                      left: 0.1rem;
                      right: 0.1rem;
                      bottom: 0.1rem;
                      display: flex;
                      z-index: 0;
                      background: #2c2a41;
                    }
                  }
                  .checkbox input:checked ~ .checkbox__mark {
                    background: #ef9d5e !important;
                    &::before {
                      content: "";
                      position: absolute;
                      top: 0.1rem;
                      left: 0.1rem;
                      right: 0.1rem;
                      bottom: 0.1rem;
                      display: flex;
                      z-index: 0;
                      background: #2c2a41 !important;
                    }
                  }
                  .checkbox input:checked ~ .checkbox__mark svg {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                  }

                  .checkbox input:checked ~ .checkbox__info.text-checked {
                    background: #ef9d5e !important;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }

                  .checkbox__mark {
                    margin-right: 0.5rem;
                    position: relative;
                    width: 1.8rem;
                    height: 1.8rem;
                    border: 0.2rem solid #2c2a41;
                  }
                  .checkbox__mark svg {
                    position: absolute;
                    fill: #ef9d5e;
                    color: #ef9d5e;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0.5);
                    width: 100%;
                    height: auto;
                    transition: all ease 0.2s;
                    opacity: 0;
                  }
                  .checkbox--disabled {
                    color: grey;
                    pointer-events: none;
                  }
                  .checkbox--disabled .checkbox__mark {
                    border-color: grey;
                  }
                  .checkbox--disabled .checkbox__mark {
                    border-color: grey;
                  }

                  .checkbox__info {
                    width: calc(100% - 2.5rem);
                    overflow: hidden;
                    font-size: 1.1rem;
                    color: #fff;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    letter-spacing: 0.08rem;
                    font-family: $proxima-nova;
                    font-weight: 400;
                    user-select: none;
                  }
                }
                .content-box {
                  width: calc(100% - 3rem);
                  p {
                    color: #ffffffcc;
                    margin: 0;
                  }
                }
              }

              li {
                margin-bottom: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
.backdrop-cartcard {
  position: relative;
  &.open {
    position: fixed;
    inset: 0;
    z-index: 1051;
    background: #00000070;
    backdrop-filter: blur(0.2rem);
  }
}
